* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(135deg, #eef2ff, #f3f4f6);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    width: 100%;
    max-width: 420px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.input-section {
    display: flex;
    gap: 10px;
}

input {
    background: #f9fafb ;
    flex: 1;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

input:focus {
    outline: none;
    border-color: #4f46e5;
    background: #ffffff;
    
}

button {
    background: #4f46e5;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
}

button:hover {
    background: #4338ca;
}

#empty-message {
    text-align: center;
    color: #6b7280;
    margin-top: 15px;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

li {
    background: #f8fafc;
    border: 1px solid #e5e7eb;
    padding: 10px;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

.delete-btn {
    background: red;
    border: none;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
}

.total {
    margin-top: 15px;
    text-align: center;
}
